{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - Your Review" %}{% endblock head_title %}

{% block content %}

<section class="block--grey full-page-block d-flex justify-content-center align-items-center">
    <div class="container mt-5">
        <div class="card card--gradient">
            <header class="page-header text-center">
                <h1>Leave a Review</h1>
            </header>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="btn-container d-flex justify-content-center mt-1">
                    <input type="submit" class="blue-button" value="Save">
                    <a href="{% url 'profile_page' %}" class="red-button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}