<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Reviews</title>
</head>

<body>
    <h1>Reviews</h1>
    {% for review in object_list %}
    <h2>{{ review.author }} on {{ review.created_on }}</h2>
        <p>Stars rated: {{ review.get_rating_display }}</p>
        <p>Review content: {{ review.content }}</p>
    {% endfor %}
</body>

</html>