{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - Reviews" %}{% endblock head_title %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <!-- Review Entries -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for review in review_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash d-flex align-items-center">
                                    {% if review.author.profile_picture %}
                                    <img src="{{ review.author.profile_picture.url }}"
                                        alt="{{ review.author.username }}" class="review-picture">
                                    {% else %}
                                    <img src="{% static 'images/defaultpicture.png' %}"
                                        alt="{{ review.author.username }}" class="review-picture">
                                    {% endif %}
                                    <p class="author-date">
                                        Review by {{ review.author }} on {{ review.created_on }}
                                    </p>
                                </div>
                            </div>
                            <p>Rating: {{ review.rating }}</p>
                            <br>
                            <a href="{% url 'review_detail' review.id %}" class="btn btn-primary">View</a>

                            <!-- Additional information if needed -->
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
        </div>
        <div class="col-12 mt-3 left">
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

    {% endblock %}