{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - Reviews" %}{% endblock head_title %}

{% block head_scripts %}
<script src="{% static 'js/reviewStars.js' %}" defer></script>
{% endblock head_scripts %}

{% block content %}

<section class="block--grey d-flex justify-content-center align-items-center flex-column full-page-block">
    <div class="container my-2">
        <header class="page-header">
            <h1>About Me</h1>
        </header>
        <div class="row mb-5">
            <div class="col-md-4 d-flex justify-content-center mb-2">
                <img src="{% static 'images/bestplaceholder.jpg' %}" alt="Instructor's Picture"
                    class="img-fluid about-picture">
            </div>
            <div class="col-md-8 mb-2">
                <p>
                    Hi, I'm Jhone Lumeo, your dedicated driving instructor. With a passion for teaching
                    and over a decade of experience in the driver education field, I'm here to guide you
                    through every step of your journey to becoming a confident and responsible driver.
                    My approach is centered on creating a supportive and comfortable learning environment
                    where you can feel empowered to tackle any challenge behind the wheel. Whether you're
                    a nervous beginner or looking to polish your skills, I'm committed to helping you
                    develop the knowledge, confidence, and safe driving habits needed to navigate the road
                    with ease.
                </p>
                <p>
                    Throughout my career, I've had the privilege of working with a diverse range of students,
                    each with their own unique learning needs and goals. From teaching the basics to teenagers
                    embarking on their driving adventures to assisting mature drivers in refining their
                    techniques, I've encountered it all. My experience extends beyond traditional classroom
                    instruction to hands-on training in real-world driving situations. As a seasoned instructor,
                    I stay current with the latest industry standards and best practices to ensure that my
                    students receive top-notch instruction tailored to their individual needs. Let's embark on
                    this journey together, and I'll be by your side every step of the way.
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <header>
            <h2 class="text-center mb-4">Reviews</h2>
        </header>
        <p>
            L2D Driving School is more than just any driving school; it's a place where learners receive
            personalised and tailored instruction to develop their driving skills. With an emphasis on quality
            over quantity, students can expect individualised attention, expert guidance and a supportive
            learning environment. At L2D Driving School, you're not just another student — you're a valued member
            of our driving community, embarking on a journey to become a confident and responsible driver under
            the guidance of a passionate instructor. As you explore the reviews below, you'll discover firsthand
            accounts of our commitment to excellence and the transformative impact of our driver education program.
            <br>
        </p>
        <p class="text-center mb-4 bold average-rating">Average rating: {{ average_rating }} / 5</p>
        <div class="row">
            {% for review in review_list %}
                <div class="col-md-4 review-card-container">
                    <a href="{% url 'review_detail' review.id %}">
                        <div class="card review-card mb-4">
                            <div class="d-flex align-items-center justify-content-between review-card-header--small">
                                {% if review.author.profile_picture %}
                                <img src="{{ review.author.profile_picture.url }}" alt="A picture of {{ review.author.username }}"
                                    class="review-image">
                                {% else %}
                                <img src="{% static 'images/defaultpicture.png' %}" alt="A default user picture"
                                    class="review-image">
                                {% endif %}
                                <p class="text-center px-2 review-header-text-small">
                                    <span class="bold review-author">{{ review.author|truncatechars:16 }}</span>
                                    <br> <span class="small-author-date">({{ review.created_on }})</span>
                                </p>
                            </div>
                            <div class="d-flex align-items-center justify-content-around icon-container-small">
                                <p class="d-flex m-0" data-rating>{{ review.rating }}</p>
                                <div class="d-flex">
                                    <div class="comment-icon-container-small bold">
                                        <i class="far fa-comments"></i> {{ review.comment_count }}
                                    </div>
                                    <div class="like-icon-container-small bold">
                                        {% if review.like_count > 0 %}
                                            <i class="fa-solid fa-heart"></i>
                                        {% else %}
                                            <i class="fa-regular fa-heart"></i>
                                        {% endif %}
                                        {{ review.like_count }}
                                    </div>
                                </div>
                            </div>
                            <p class="review-content-extract">{{ review.content | safe | slice:"50" }}{% if review.content|length > 50 %}...{% endif %}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</section>

{% endblock %}