{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - Login form" %}{% endblock head_title %}

{% block content %}

<section class="block--background d-flex align-items-center" data-block>
    <div class="container-fluid d-flex justify-content-center">
        <!-- Login form -->
        <div class="card form-container">
            <header class="page-header">
                <h1>Account Login</h1>
                <img src="{% static 'images/car.png' %}" class="form-image" alt="An image of a car">
            </header>
            <form action="{% url 'account_login' %}" method="POST" class="d-flex justify-content-center align-items-center flex-column form">
                {% csrf_token %}
                <div class="form-field">
                    <label for="id_login">Username:</label>
                    <input id="id_login" type="text" name="login" placeholder="Enter username">
                </div>
                <div class="form-field">
                    <label for="id_password">Password:</label>
                    <input id="id_password" type="password" name="password" placeholder="Enter password">
                </div>
                <!-- Forgot password link -->
                <a href="{% url 'account_reset_password' %}" class="pw-reset">Forgot your password?</a>
                <div class="btn-container">
                    <button class="blue-button" type="submit">Log in</button>
                    <button class="red-button" type="reset">Reset</button>
                </div>
                <!-- Link to registration page -->
                <p class="signup-link">Don't have an account? Sign up <a href="{% url 'account_signup' %}">here</a></p>
            </form>
        </div>
    </div>
</section>

{% endblock content %}
