{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - Password Reset Request Confirmation" %}{% endblock head_title %}

{% block content %}

<section class="block--background d-flex align-items-center" data-block>
    <div class="container-fluid d-flex justify-content-center">
        <!-- Password reset request confirmation -->
        <div class="card form-container">
            <header class="page-header">
                <h1>Password Reset Request Confirmation</h1>
                <img src="{% static 'images/car.png' %}" class="form-image" alt="An image of a car">
            </header>
            <p>We have sent you an <span class="bold">email</span>. If you have not received it please check your spam
                folder. It should arrive in a few minutes.</p>
        </div>
    </div>
</section>

{% endblock content %}