{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - Password Reset Request" %}{% endblock head_title %}

{% block content %}

<section class="block--background full-page-block d-flex align-items-center" data-block>
    <div class="container-fluid d-flex justify-content-center">
        <!-- Password reset request -->
        <div class="card form-container">
            <header class="text-center">
                <h1>Password Reset Request</h1>
                <img src="{% static 'images/car.png' %}" class="form-image" alt="An image of a car">
            </header>
            <form action="{% url 'account_reset_password' %}" method="POST"
                class="d-flex justify-content-center align-items-center flex-column form">
                {% csrf_token %}
                <div class="form-field">
                    <label for="email">Email:</label>
                    <input id="email" type="email" name="email" placeholder="Enter email" required>
                </div>
                <div class="btn-container">
                    <button class="blue-button" type="submit">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock content %}