{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - Password Reset Form" %}{% endblock head_title %}

{% block content %}

<section class="block--background d-flex align-items-center" data-block>
    <div class="container-fluid d-flex justify-content-center">
        <!-- Password reset form -->
        <div class="card form-container">
            <header class="page-header">
                <h1>Password Reset Form</h1>
                <img src="{% static 'images/car.png' %}" class="form-image" alt="An image of a car">
            </header>
            <form action="{{ action_url }}" method="POST"
                class="d-flex justify-content-center align-items-center flex-column form">
                {% csrf_token %}
                <div class="form-field">
                    <label for="id_password1">New Password:</label>
                    <input id="id_password1" type="password" name="password1" placeholder="Enter password">
                    {% for error in form.password1.errors %}
                    <p class="error-text">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-field">
                    <label for="id_password2">New Password (again):</label>
                    <input id="id_password2" type="password" name="password2" placeholder="Enter password again">
                    {% for error in form.password2.errors %}
                    <p class="error-text">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="btn-container">
                    <button class="blue-button" type="submit">Confirm</button>
                    <button class="red-button" type="reset">Clear</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock content %}