{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - Password Change Confirmation" %}{% endblock head_title %}

{% block content %}

<section class="block--background d-flex align-items-center" data-block>
    <div class="container-fluid d-flex justify-content-center">
        <!-- Password change confirmation -->
        <div class="card form-container">
            <header class="page-header">
                <h1>Password Changed</h1>
                <img src="{% static 'images/car.png' %}" class="form-image" alt="An image of a car">
            </header>
            <p>Your password is now changed and you may now <a href="{% url 'account_login' %}">log in.</a></p>
        </div>
    </div>
</section>

{% endblock content %}
