{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - Register" %}{% endblock head_title %}

{% block content %}

<section class="block--background d-flex align-items-center" data-block>
  <div class="container-fluid d-flex justify-content-center">
    <!-- Registration form -->
    <div class="card form-container">
      <header class="text-center">
        <h1>Register New User</h1>
        <img src="{% static 'images/car.png' %}" class="form-image" alt="An image of a car">
      </header>
      <form action="{% url 'account_signup' %}" method="POST"
        class="d-flex justify-content-center align-items-center flex-column form">
        {% csrf_token %}
        <div class="form-field">
          <label for="id_first_name">Name:</label>
          <input id="id_first_name" type="text" name="first_name" placeholder="Enter name">
          {% for error in form.first_name.errors %}
          <p class="error-text">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="form-field">
          <label for="id_username">Username:</label>
          <input id="id_username" type="text" name="username" placeholder="Enter username">
          {% for error in form.username.errors %}
          <p class="error-text">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="form-field">
          <label for="id_email">Email:</label>
          <input id="id_email" type="text" name="email" placeholder="Enter email address">
          {% for error in form.email.errors %}
          <p class="error-text">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="form-field">
          <label for="id_password1">Password:</label>
          <input id="id_password1" type="password" name="password1" placeholder="Enter password">
          {% for error in form.password1.errors %}
          <p class="error-text">{{ error }}</p>
          {% endfor %}
        </div>
        <div class="form-field">
          <label for="id_password2">Password (again):</label>
          <input id="id_password2" type="password" name="password2" placeholder="Enter password again">
          {% for error in form.password2.errors %}
          <p class="error-text">{{ error }}</p>
          {% endfor %}
        </div>

        <div class="btn-container">
          <button class="blue-button" type="submit">Sign up</button>
          <button class="red-button" type="reset">Reset</button>
        </div>
      </form>
      <!-- Link to login page -->
      <p class="login-link">Already have an account? Log in <a href="{% url 'account_login' %}">here</a></p>
    </div>
  </div>
</section>

{% endblock content %}