{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - Edit Profile" %}{% endblock head_title %}

{% block head_scripts %}
<script src="{% static 'js/editProfile.js' %}" defer></script>
{% endblock head_scripts %}

{% block content %}

<section class="block--grey full-page-block d-flex justify-content-center align-items-center">
    <div class="container mt-5">
        <div class="card card--gradient">
            <header class="page-header text-center">
                <h1>Edit Profile</h1>
            </header>
            <form id="profileForm" method="POST" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    {% for field in form %}
                        <div class="col-md-6">
                            <div class="form-field">
                                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-field text-center">
                    <input type="checkbox" id="remove_picture" name="remove_picture">
                    <label for="remove_picture">Remove Profile Picture</label>
                </div>
                <div class="btn-container d-flex justify-content-center m-0">
                    <button type="submit" class="blue-button">Save</button>
                    <a href="{% url 'profile_page' %}" class="red-button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock content %}