{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - Authentication" %}{% endblock head_title %}

{% block content %}

<section class="block--background d-flex align-items-center" data-block>
    <div class="container-fluid d-flex justify-content-center">
        {% if page == 'register' %}
        <div class="card form__container">
            <header class="page__header">
                <h1>Register New User</h1>
                <img src="{% static 'images/car.png' %}" class="form__image" alt="An image of a car">
            </header>
            <form action="{% url 'register' %}" method="POST" class="d-flex justify-content-center align-items-center flex-column form">
                {% csrf_token %}
                {% for field in form %}
                <div class="form__field">
                    <label for="form-input">{{ field.label }}:</label>
                    {{ field }}

                    {% for error in field.errors %}
                    <p class="error-text">{{ error }}</p>
                    {% endfor %}
                </div>
                {% endfor %}

                <div class="btn-container">
                    <button class="blue-button" type="submit">Sign up</button>
                    <button class="red-button" type="reset">Reset</button>
                </div>
            </form>

            <p class="login-link">Already have an account? Log in <a href="{% url 'login' %}">here</a></p>
        </div>

        {% else %}
        <div class="card form__container">
            <header class="page__header">
                <h1>Account Login</h1>
                <img src="{% static 'images/car.png' %}" class="form__image" alt="An image of a car">
            </header>
            <form action="{% url 'login' %}" method="POST" class="d-flex justify-content-center align-items-center flex-column form">
                {% csrf_token %}
                <div class="form__field">
                    <label for="username">Username:</label>
                    <input id="username" type="text" name="username" placeholder="Enter username">
                </div>
                <div class="form__field">
                    <label for="loginpw">Password:</label>
                    <input id="loginpw" type="password" name="password" placeholder="Enter password">
                </div>
                <a href="#" class="pw-reset">Forgot your password?</a>
                <div class="btn-container">
                    <button class="blue-button" type="submit">Log in</button>
                    <button class="red-button" type="reset">Reset</button>
                </div>
                <p class="signup-link">Don't have an account? Sign up <a href="{% url 'register' %}">here</a></p>
            </form>
        </div>
    </div>
</section>
{% endif %}

{% endblock content %}
