{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - Your Profile" %}{% endblock head_title %}

{% block head_scripts %}
<script src="{% static 'js/profileStars.js' %}" defer></script>
{% endblock head_scripts %}

{% block content %}
<section class="block--grey full-page-block">
  <div class="container mt-5 mb-2">
    <div class="card card--gradient">
      <header class="page-header text-center">
        <h1>Your Profile</h1>
      </header>
      <div class="row">
        <!-- Left column -->
        <div class="col-md-4 col-sm-6">
          <div class="col-12 text-center">
            <h2>{{ profile.user.first_name }}</h2>
            {% if profile.profile_picture.url %}
              <img src="{{ profile.profile_picture.url }}" class="profile-image" />
            {% else %}
              <img src="{% static 'images/defaultpicture.png' %}" class="profile-image" />
            {% endif %}
            {% if profile.age %}
              <p class="profile-info py-1">Age: {{ profile.age }}</p>
            {% endif %}
            {% if profile.occupation %}
              <p class="profile-info py-1">Occupation: {{ profile.occupation }}</p>
            {% endif %}
            <div class="row mt-3 mb-1">
              <div class="btn-container d-flex justify-content-center m-0">
                <a type="button" href="{% url 'edit_profile' %}" class="blue-button">Edit Profile</a>
                <button type="button" class="red-button" data-bs-toggle="modal"
                  data-bs-target="#deleteProfileModal">Delete Profile</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Right column -->
        <div class="col-md-8 col-sm-6">
          <div class="col-12 text-center mt-3">
            <h3>About me</h3>
            {% if profile.about_me %}
              <div class="profile-content">
                {{ profile.about_me | safe }}
              </div>
            {% else %}
              <div class="profile-content italic">
                <p>You have not filled out your about me</p>
              </div>
            {% endif %}
          </div>
          <div class="col-12 text-center mt-3">
            <h3>Your Review</h3>
            {% if profile.review %}
              {% if profile.review.approved %}
                <div class="profile-content">
                  <div data-rating>{{ profile.review.rating }}</div>
                  <p>{{ profile.review.created_on }} - <a class="link"
                    href="{% url 'review_detail' profile.review.id %}">View comments</a>
                  </p>
                  <div class="col-12 text-center mb-3">
                    <div class="comment-icon-container bold">
                      <i class="far fa-comments"></i> {{ comment_count }}
                    </div>
                    <div class="like-icon-container bold">
                      {% if like_count > 0 %}
                        <i class="fa-solid fa-heart"></i>
                      {% else %}
                        <i class="fa-regular fa-heart"></i>
                      {% endif %}
                      {{ like_count }}
                    </div>
                  </div>
                  <p>{{ profile.review.content }}</p>
                </div>
              {% else %}
                <div class="profile-content">
                  <div data-rating>{{ profile.review.rating }}</div>
                  <p class="mb-3">{{ profile.review.created_on }}</p>
                  <p class="pending-approval">{{ profile.review.content | safe }} (pending approval)</p>
                </div>
              {% endif %}
            {% else %}
              <div class="profile-content italic">
                <p>You have not made a review yet</p>
              </div>
            {% endif %}
            <div class="btn-container">
              {% if not profile.review %}
                <a href="{% url 'create_review' %}" class="blue-button">Add Review</a>
              {% endif %}
              {% if profile.review %}
                <div class="btn-container d-flex justify-content-center m-0">
                  <a href="{% url 'update_review' review_id %}" class="blue-button">Edit Review</a>
                  <button type="button" class="red-button" data-bs-toggle="modal"
                    data-bs-target="#deleteReviewModal">Delete Review</button>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="col-12 text-center mt-3">
            {% if profile.commenter.all %}
              <h3>Your Comments</h3>
              {% for comment in profile.commenter.all %}
                {% if comment.approved %}
                  <div class="profile-content mb-4">
                    <p class="mb-3">{{ comment.replied_on }} - <a class="link" href="{% url 'review_detail' comment.review.id %}">Review by
                      {{ comment.review.author }}</a></p>
                    <p class="mb-3">{{ comment.content | safe }}</p>
                    <div class="btn-container d-flex justify-content-center m-0">
                      <a href="{% url 'edit_comment' review_id=comment.review.id comment_id=comment.id %}"
                        class="blue-button">Edit</a>
                      <button type="button" class="red-button" data-bs-toggle="modal"
                        data-bs-target="#deleteCommentModal{{ comment.id }}">Delete</button>
                    </div>
                  </div>
                {% else %}
                  <div class="profile-content mb-4">
                    <p class="mb-3">{{ comment.replied_on }} - <a href="{% url 'review_detail' comment.review.id %}">Review by
                      {{ comment.review.author }}</a></p>
                    <p class="pending-approval mb-3">{{ comment.content | safe }} (pending approval)</p>
                    <div class="btn-container d-flex justify-content-center m-0">
                      <a href="{% url 'edit_comment' review_id=comment.review.id comment_id=comment.id %}"
                        class="blue-button">Edit</a>
                      <button type="button" class="red-button" data-bs-toggle="modal"
                        data-bs-target="#deleteCommentModal{{ comment.id }}">Delete</button>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Profile Modal -->
  <div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="deleteProfileModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h5 class="modal-title" id="deleteProfileModalLabel">Confirm Profile Deletion</h5>
        </div>
        <div class="modal-body d-flex justify-content-center">
          Are you sure you want to delete your account? All your information including posts will be permanently
          removed!
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <form method="POST" action="{% url 'delete_profile' %}">
            {% csrf_token %}
            <button type="submit" class="blue-button">Yes</button>
          </form>
          <button type="button" class="red-button" data-bs-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Review Modal -->
  {% if review_id %}
    <div class="modal fade" id="deleteReviewModal" tabindex="-1" aria-labelledby="deleteReviewModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header d-flex justify-content-center">
            <h5 class="modal-title" id="deleteReviewModalLabel">Delete Review Confirmation</h5>
          </div>
          <div class="modal-body d-flex justify-content-center">
            Are you sure you want to delete your review?
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <form method="POST" action="{% url 'delete_review' review_id %}">
              {% csrf_token %}
              <button type="submit" class="blue-button">Yes</button>
            </form>
            <button type="button" class="red-button" data-bs-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% for comment in profile.commenter.all %}
  <!-- Delete Comment Modal -->
    <div class="modal fade" id="deleteCommentModal{{ comment.id }}" tabindex="-1"
      aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header d-flex justify-content-center">
            <h5 class="modal-title" id="deleteCommentModalLabel">Delete Comment Confirmation</h5>
          </div>
          <div class="modal-body d-flex justify-content-center">
            Are you sure you want to delete your comment?
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <form method="POST" action="{% url 'delete_comment' review_id=comment.review.id comment_id=comment.id %}">
              {% csrf_token %}
              <input type="hidden" name="source_page" value="profile">
              <button type="submit" class="blue-button">Yes</button>
            </form>
            <button type="button" class="red-button" data-bs-dismiss="modal">No</button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock content %}