@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&display=swap');

:root {
    --color-primary: #7DAEF8;
    --color-secondary: #1146F5;
    --color-accent: #ff8f8f;
    --block-light: #fff;
    --block-grey: #e6e6e9;
    --border-radius: 20px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* Typography */

body {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.page-header {
    margin-bottom: 30px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .page-header {
        margin-bottom: 20px 0;
    }
}

@media screen and (max-width: 428px) {
    .page-header {
        margin-bottom: 15px 0;
    }
}

/* Blocks */

.block,
.block--grey {
    padding: 24px;
}

.block {
    background: var(--block-light);
}

.block--grey {
    background: var(--block-grey);
}

.block--background {
    background-image: url('../images/road.jpg');
    background-size: cover;
    background-position: center;
    min-height: 85vh;
    padding: 20px 0;
}

@media screen and (max-width: 1024px) {
    .block--background {
        min-height: 90vh;
    }
}

@media screen and (max-width: 768px) {
    .block,
    .block--grey {
        padding: 16px;
    }
}

@media screen and (max-width: 376px) {
    .block,
    .block--grey {
        padding: 12px;
    }
}

@media screen and (max-width: 324px) {
    .block,
    .block--grey {
        padding: 10px;
    }
}

/* Cards */

.card {
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px #acacac;
    background: var(--block-light);
    padding: 20px;
}

.card--profile {
    padding: 40px;
    background: linear-gradient(to bottom right, rgba(125, 174, 248, 0.1), white 30%, white 70%, rgba(125, 174, 248, 0.1));
}

@media screen and (max-width: 768px) {
    .card {
        box-shadow: 0 0 5px #acacac;
    }
}

@media screen and (max-width: 768px) {
    .card--profile {
        padding: 30px;
    }
}

@media screen and (max-width: 428px) {
    .card--profile {
        padding: 20px;
    }
}

/* Forms */

label {
    display: block;
    margin: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    padding: 5px 8px;
    transition: all 0.3s;
    margin-bottom: 15px;
    background-color: rgb(241, 235, 235);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
    width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
textarea:focus {
    border-color: var(--color-secondary);
    outline: 0;
}

textarea {
    resize: none;
    height: 200px;
}

.form-container {
    max-width: 500px;
    margin-top: 60px;
    opacity: 0.9;
}

.form {
    margin-top: 10px;
    padding: 0;
}

.form-image {
    height: 80px;
}

.form-field {
    padding: 0 50px;
    width: 100%;
}

.pw-reset {
    margin-bottom: 10px;
}

.signup-link, .login-link {
    margin-top: 40px;
    text-align: center;
}

.error-text {
    color: #c50000;
}

@media screen and (max-width: 1199px) {
    .form-field {
        padding: 0 40px;
    }
}

@media screen and (max-width: 1024px) {
    .form-field {
        padding: 0 30px;
    }
}

@media screen and (max-width: 768px) {
    .form-container {
        max-width: 360px;
    }

    .form {
        margin-top: 15px;
    }

    .form-image {
        height: 70px;
    }

    .signup-link, .login-link {
        margin-top: 30px;
    }
}

@media screen and (max-width: 428px) {
    .form-container {
        max-width: 300px;
    }

    .form-image {
        height: 60px;
    }

    .form-field {
        padding: 0 20px;
    }

    .signup-link, .login-link {
        margin-top: 20px;
    }
}

@media screen and (max-width: 376px) {
    .form-container {
        max-width: 260px;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea {
        font-size: 12px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    textarea {
        margin-bottom: 8px;
    }

    .form {
        margin-top: 10px;
    }

    .form-field {
        padding: 0;
    }
}

@media screen and (max-width: 324px) {
    .form-container {
        max-width: 240px;
    }
}

/* Buttons */

.auth-button {
    background: var(--color-secondary);
    border-radius: var(--border-radius);
    box-shadow: 0 0 5px #acacac;
    color: var(--block-light);
    margin-right: 10px;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    width: 160px;
    height: 45px;
}

.auth-button:hover {
    color: var(--block-light);
}

.auth-button::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    background: radial-gradient(var(--block-light), transparent, transparent);
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: 0.3s, top 0s, left 0s;
}

.auth-button:hover::before {
    opacity: 0.7;
}

#logoutBtn {
    color: var(--block-light);
}

.btn-container {
    padding: 10px 0;
}

a.blue-button,
a.red-button,
.blue-button,
.red-button {
    border-radius: 10px;
    color: #000;
    display: inline-block;
    line-height: 1.4;
    margin: 0 7px;
    padding: 10px 20px;
    width: 120px;
    box-shadow: 0 0 6px #acacac;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s;
    position: relative;
}

.blue-button {
    background-color: var(--color-primary);
}

.red-button {
    background-color: var(--color-accent);
}

.blue-button:hover,
.red-button:hover {
    color: var(--block-light);
}

.blue-button:hover {
    background-color: var(--color-secondary);
}

.red-button:hover {
    background-color: #c50000;
}

.blue-button > span,
.red-button > span {
    position: absolute;
    background: #000;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    border-radius: 50%;
    animation: ripple 0.6s linear infinite;
}

.logout-btn {
    text-align: center;
    color: #000;
}

@keyframes ripple {
    0% {
        height: 0;
        width: 0;
        opacity: 0.7;
    }

    100% {
        height: 400px;
        width: 400px;
        opacity: 0;
    }
}

@media screen and (max-width: 992px) {
    .auth-button {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    a.blue-button,
    a.red-button,
    .blue-button,
    .red-button {
        margin: 0 5px;
        padding: 5px 10px;
        width: 100px;
    }
}

@media screen and (max-width: 428px) {
    a.blue-button,
    a.red-button,
    .blue-button,
    .red-button {
        width: 80px;
    }
}

/* Grids */

@media (max-width: 1200px) {
    .col-md-4, .col-md-8 {
        width: 50%;
    }
}

@media (max-width: 1024px) {
    .col-md-4, .col-md-8 {
        width: 100%;
    }
}

/* Base template */
/* Navbar */

.navbar {
    border-bottom: 1px solid rgb(197, 197, 197);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    color: var(--color-primary);
    transition: all 0.3s;
}

.navbar-brand:hover {
    color: var(--color-secondary);
}

.logo {
    width: 100px;
    height: auto;
    transition: 0.3s;
}

.logo:hover {
    opacity: 0.6;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.brand-text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.brand-text p {
    margin: 0;
    font-size: 20px;
    color: var(--color-primary);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1.3;
    transition: opacity 0.3s;
}

.brand-text p:hover {
    opacity: 0.6;
}

#navbarText .navbar-nav {
    display: flex;
    align-items: center;
}

#navbarText .navbar-nav .nav-link {
    color: var(--color-secondary);
    transition: 0.3s;
    padding: 5px;
}

#navbarText .navbar-nav .nav-link.active {
    border: 2px solid rgba(125, 174, 248, 0.5);
    border-radius: 5px;
    color: var(--color-primary);
}

#navbarText .navbar-nav .nav-link:hover {
    color: var(--color-primary);
}

#navbarText .nav-item .auth-link {
    color: var(--color-secondary);
    text-align: left;
    display: none;
}

@media screen and (max-width: 992px) {
    #navbarText .navbar-nav {
        align-items: flex-start;
    }

    #navbarText .navbar-nav .nav-item {
        border-bottom: 1px solid rgba(125, 174, 248, 0.3);
        width: 100%;
    }

    #navbarText .navbar-nav .nav-item:last-child {
        border-bottom: none;
    }

    #navbarText .navbar-nav .nav-link {
        display: block;
        padding: 0.5rem 1rem;
    }

    #navbarText .navbar-nav .nav-item .active {
        border: none;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        width: 80px;
    }

    .brand-text p {
        font-size: 16px;
        line-height: 1.3;
    }
}

@media screen and (max-width: 428px) {
    .logo {
        width: 70px;
    }

    .brand-text {
        margin-left: 5px;
    }

    #navbarText .navbar-nav .nav-link {
        display: block;
        padding: 0.5rem;
    }

    #navbarText .nav-item .auth-link, body {
        font-size: 14px;
    }
}

@media screen and (max-width: 324px) {
    .logo {
        width: 60px;
    }

    .brand-text p {
        font-size: 14px;
        line-height: 1.1;
    }

    #navbarText .navbar-nav .nav-link {
        display: block;
        padding: 0.5rem 0.25rem;
    }

    #navbarText .nav-item .auth-link, body {
        font-size: 12px;
    }
}

/* Messages */

[data-alert] {
    animation: fadeOut 5s linear forwards;
    animation-delay: 2s;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    z-index: 10;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    [data-alert] {
        width: 300px;
    }

    .alert {
        padding: 8px;
    }
}

@media screen and (max-width: 768px) {
    .alert {
        font-size: 14px;
    }
}

@media screen and (max-width: 376px) {
    [data-alert] {
        width: 240px;
    }

    .alert {
        font-size: 12px;
    }
}

/* Modals */

.modal-content {
    border: solid 2px #000;
    border-radius: var(--border-radius);
}

.modal-title {
    font-weight: bold;
}

.modal-header {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.modal-header,
.modal-body {
    background-color: var(--block-grey);
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.modal-footer {
    background-color: var(--block-grey);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

/* Footer */

footer {
    background-color: var(--color-primary);
    color: #000;
}

footer i {
    color: rgba(0, 0, 0, 0.6);
    margin-left: 10px;
    font-size: 20px;
}

.github-link i:hover {
    animation: spin 0.3s forwards;
}

.github-link i:not(:hover) {
    animation: spin-backward 0.3s forwards;
}

@keyframes spin {
    0% { 
        transform: rotateY(0deg);
        color: rgba(0, 0, 0, 0.4);
    }
    100% { 
        transform: rotateY(360deg);
        color: #000;
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
    }
}

@keyframes spin-backward {
    0% {
        transform: rotateY(360deg);
        color: #000;
        filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.6));
    }
    100% {
        transform: rotateY(0deg);
        color: rgba(0, 0, 0, 0.4);
    }
}

@media screen and (max-width: 768px) {
    .footer-text {
        font-size: 14px;
    }

    footer i {
        padding-left: 5px;
        font-size: 16px;
    }
}

@media screen and (max-width: 428px) {
    .footer-text {
        font-size: 12px;
    }

    footer i {
        margin-left: 5px;
        font-size: 14px;
    }
}

@media screen and (max-width: 376px) {
    footer {
        display: flex;
        justify-content: center;
    }

    .footer-text {
        max-width: 200px;
        margin: 0 auto;
        display: block;
        box-sizing: content-box;
    }
}

/* Reviews template */

.review-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.author-date {
    margin: 0;
    padding-left: 1rem;
}

/* Appointments template */

[data-url] {
    height: 720px;
    min-width: 320px;
}

.small-screen-container {
    display: none;
    height: 90vh;
    padding: 20px;
}

@media screen and (max-width: 376px) {
    [data-url] {
        display: none;
    }

    .small-screen-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/* User profile */

.profile-image {
    width: 300px;
    height: 300px;
    margin: 20px 0;
    border-radius: var(--border-radius);
    object-fit: cover;
    object-position: center;
}

.profile-info {
    font-size: 120%;
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
}

.profile-content {
    border: 2px solid var(--block-grey);
    border-radius: 10px;
    padding: 10px 20px;
}

.profile-content > p {
    margin: 0;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.pending-approval {
    color: rgb(170, 170, 170);
}

@media screen and (max-width: 428px) {
    .profile-image {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 324px) {
    .profile-image {
        width: 150px;
        height: 150px;
    }
}

/* User profiles template for all users */

.profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.card-title {
    margin-bottom: 0.5rem;
}
