{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - Appointments" %}{% endblock head_title %}

{% block content %}

<section class="block--grey full-page-block">
    <header class="page-header">
        <h1>Appointments</h1>
    </header>
    <!-- Calendly inline widget -->
    <div class="calendly-inline-widget block--grey" data-url="https://calendly.com/sasanthegreat?primary_color=7daef8"></div>
    <script src="https://assets.calendly.com/assets/external/widget.js" async></script>
    <!-- External link to Calendly -->
    <div class="small-screen-container full-page-block">
        <p class="small-screen-appointment-link">Calendly is not optimised for your screen size - Please visit this link
            to schedule your appointment:
            <a href="https://calendly.com/sasanthegreat" rel="noopener" aria-label="Link to Calendly schedule"
                target="_blank">https://calendly.com/sasanthegreat
            </a>
        </p>
    </div>

</section>


{% endblock content %}