{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - Contact" %}{% endblock head_title %}

{% block content %}

<section class="block--grey full-page-block d-flex justify-content-center align-items-center">
    <div class="container mt-5 mb-4">
        <div class="row">
            <!-- Contact form card -->
            <div class="col-lg-9">
                <div class="card card--gradient contact-form">
                    <header class="page-header">
                        <h1>Contact Form</h1>
                    </header>
                    <form action="https://formspree.io/f/xkndbrle" method="POST">
                        <div class="form-fields">
                            <div class="form-field">
                                <label for="fname">First Name:</label>
                                <input id="fname" type="text" name="fname" minlength="1"
                                maxlength="50" required>
                            </div>
                            <div class="form-field">
                                <label for="lname">Last Name:</label>
                                <input id="lname" type="text" name="lname" minlength="1"
                                maxlength="50" required>
                            </div>
                            <div class="form-field">
                                <label for="email">Email Address:</label>
                                <input id="email" type="email" name="email" minlength="5"
                                maxlength="50" required>
                            </div>
                            <div class="form-field">
                                <label for="contact">Contact Number:</label>
                                <input id="contact" type="tel" name="contact" minlength="10"
                                maxlength="15" pattern="[0-9]+" required>
                            </div>
                            <div class="form-field">
                                <label for="enquiry">Your Enquiry:</label>
                                <textarea id="enquiry" name="enquiry" minlength="10"
                                maxlength="400" required></textarea>
                            </div>
                        </div>
                        <div class="btn-container d-flex justify-content-center mt-2"">
                            <button class="blue-button" type="submit">Submit</button>
                            <button class="red-button" type="reset">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Contact information card -->
            <div class="col-lg-3">
                <div class="card contact-info">
                    <h2 class="text-center">Contact Information</h2>
                    <div class="row my-1">
                        <div class="col-2 contact-icon">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        <div class="col-10 contact-icon-info">
                            7 Queens Ave, Muswell Hill, London, N10 3PE
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-2 contact-icon">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="col-10 contact-icon-info">
                            email@placeholder.com
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-2 contact-icon">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="col-10 contact-icon-info">
                            07700 900308
                        </div>
                    </div>
                    <div class="google-maps-container">
                        <iframe 
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2478.742383563019!2d-0.1440025!3d51.591284699999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761a2cfe68fcb9%3A0x58b304eea1c70e58!2s7%20Queens%20Ave%2C%20Muswell%20Hill%2C%20London%20N10%203PE!5e0!3m2!1sen!2suk!4v1708962442816!5m2!1sen!2suk"
                            class="google-maps" 
                            allowfullscreen="" 
                            loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade"
                            title="Google Maps of 7 Queens Ave, Muswell Hill, London N10 3PE">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}