{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - Home" %}{% endblock head_title %}

{% block head_scripts %}
<script src="{% static 'js/overlay.js' %}" defer></script>
{% endblock head_scripts %}

{% block content %}

<section class="block--home full-page-block ">
    <img src="{% static 'images/home-background.png' %}" alt="A view of someone driving" class="home-background">
    <div class="overlay d-flex justify-content-center align-items-center">
        <div class="hero-content d-flex justify-content-center align-items-center flex-column text-center">
            <h1>L2D Driving School</h1>
            {% if user.is_authenticated %}
                <p>Welcome back!</p>
                <div class="btn-container d-flex justify-content-center">
                    {% if request.user.profile.approved %}
                        <a class="blue-button" href="{% url 'appointments' %}">Schedule</a>
                    {% else %}
                        <a class="blue-button" href="{% url 'reviews' %}">Reviews</a>
                    {% endif %}
                    <a class="blue-button" href="{% url 'contact' %}">Contact</a>
                </div>
            {% else %}
                <p>Become a confident driver</p>
                <div class="btn-container d-flex justify-content-center">
                    <a class="blue-button" href="{% url 'account_signup' %}">Sign up</a>
                    <a class="blue-button" href="{% url 'reviews' %}">Reviews</a>
                </div>
            {% endif %}
        </div>
    </div>
</section>

{% endblock content %}