{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block head_title %}{% trans "L2D - User Profiles" %}{% endblock head_title %}

{% block head_scripts %}
<script src="{% static 'js/pagination.js' %}" defer></script>
{% endblock head_scripts %}

{% block content %}

<section class="block--grey full-page-block">
    <div class="search-form-container text-center">
        <form action="{% url 'user_profiles' %}" data-search-form method="GET">
            <div class="form-field">
                <label for="search" class="search-field-label">User Search</label>
                <input type="text" id="search" placeholder="Search for a user" 
                    value="{{ search_query }}" name="search_query" class="search-field">
            </div>
            <button type="submit" class="blue-button">Search</button>
        </form>
    </div>
    <div class="container mt-5">
        <header class="page-header">
            <h1 class="text-center">User Profiles</h1>
        </header>
        <div class="row">
            {% for user_profile in user_profiles %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4 profile-image-container">
                    <a href="{% if user_profile.user == request.user %}{% url 'profile_page' %}{% else %}{% url 'profile_detail' user_profile.user.id %}{% endif %}"
                        class="card h-100 profile-card">
                        {% if user_profile.profile_picture %}
                            <img src="{{ user_profile.profile_picture.url }}" alt="picture of a user:{{ user_profile.user.first_name }}" class="profile-images">
                        {% else %}
                            <img src="{% static 'images/defaultpicture.png' %}" alt="default user picture" class="profile-images">
                        {% endif %}
                        <h5 class="card-text text-center">{{ user_profile.user.first_name }}</h5>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if user_profiles.has_other_pages %}
        <div class="pagination mt-5">
            <ul class="container text-center">
                {% for page in paginator.page_range %}
                    {% if page == user_profiles.number %}
                        <li class="d-inline-block">
                            <a href="?page={{ page }}" class="blue-button pagination-button active d-flex align-items-center justify-content-center" data-page="{{ page }}">
                                {{ page }}
                            </a>
                        </li>
                    {% else %}
                        <li class="d-inline-block">
                            <a href="?page={{ page }}" class="blue-button pagination-button d-flex align-items-center justify-content-center" data-page="{{ page }}">
                                {{ page }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</section>

{% endblock content %}